@using System.Data
@model DataTable
@{
    ViewData["Title"] = "Quản lý giảng viên";
    ViewData["fullname"] = "Admin";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fa-solid fa-user-plus" style="padding-right:5px;"></i>Thêm User
                </a>
            </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="userTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Full Name</th>
                            <th>Phone</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (DataRow row in @Model.Rows)
                    {
                            <tr>
                                <th>@row["ID"]</th>
                                <th>@row["Email"]</th>
                                <th>@row["Pass"]</th>
                                <th>@row["Full_name"]</th>
                                <th>@row["Phone"]</th>
                                <th><a asp-controller="Manage" asp-action="edit" asp-route-id=@row["ID"]>Sửa</a></th>
                                <th><a asp-controller="Manage" asp-action="delete" asp-route-id=@row["ID"]>Xóa</a></th>
                            </tr>

                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
}
